/projetosacapp/__pycache__/*
/apps/clientes/__pycache__/*
/apps/clientes/migrations/*
/apps/atendimentos/__pycache__/*
/apps/atendimentos/migrations/*
/apps/avaliacoes/__pycache__/*
/apps/avaliacoes/migrations/*
/apps/prioridades/__pycache__/*
/apps/prioridades/migrations/*
/apps/chamados/__pycache__/*
/apps/chamados/migrations/*
/apps/departamentos/__pycache__/*
/apps/departamentos/migrations/*
/apps/empresas/__pycache__/*
/apps/empresas/migrations/*
/apps/atendentes/__pycache__/*
/apps/atendentes/migrations/*
/apps/pessoas/__pycache__/*
/apps/pessoas/migrations/*

