/projetosacapp/__pycache__/*
/apps/clientes/__pycache__/*
/apps/clientes/migrations/*
/apps/atendimento/__pycache__/*
/apps/atendimento/migrations/*
/apps/avaliacao/__pycache__/*
/apps/avaliacao/migrations/*
